
.venv/bin/
.venv
Tensorflow/images
Tensorflow/api_model
Tensorflow/checkpoints
Tensorflow/exported_models
Tensorflow/models
Tensorflow/pre_trained_models
Tensorflow/records
Tensorflow/annotations





.ipynb_checkpoints/

.vscode/
